<div class="bg-primary">
  <div class="container">
    <nav class="navbar navbar-inverse bg-primary fixed-top navbar-toggleable-md">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/budgetAppliance/">Budget Appliance Service LLC</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/budgetAppliance/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/budgetAppliance/repair">Repair Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/budgetAppliance/installation">Installation Available</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/budgetAppliance/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/budgetAppliance/contact"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><strong>269-685-8902</strong></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
