$color-white: #f7f7f7;
$color-blue: #006db0;

// Social Media Colors
$color-facebook: #3b5998;
$color-twitter: #55acee;
$color-google: #dd4b39;
$color-youtube: #b00;
$color-linkedin: #007bb5;
$color-instagram: #125688;
$color-snapchat: #fffc00;
$color-github: #000;
